{
    "$schema": "https://swc.rs/schema.json",
    "module": {
        "type": "commonjs"
    },
    "sourceMaps": false,
    "jsc": {
        "externalHelpers": false,
        "parser": {
            "syntax": "typescript",
            "tsx": true,
            "decorators": true,
            "dynamicImport": false
        },
        "target": "es2022",
        "transform": {
            "react": {
                "useBuiltins": true,
                "runtime": "automatic"
            }
        },
        "baseUrl": "./",
        "paths": {
            "@/*": ["./src/*"]
        }
    }
}
